:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }
}
