:host {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  max-width: 400px;

  .title {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 240px;

    button {
      margin-bottom: 10px;
    }
  }
}
