<div class="users-header">
  <h1 class="users-title">Blogify Users</h1>
  <mat-form-field class="search-field">
    <input matInput placeholder="Search Users" [(ngModel)]="searchQuery">
  </mat-form-field>
</div>
<div class="users-container" *ngIf="users; else preloader">
  <app-user *ngFor="let user of users | userFilter : searchQuery" [user]="user"></app-user>
</div>

<ng-template #preloader>
  <div style="text-align: center">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>
</ng-template>
