:host {
  display: block;
}

.users-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.users-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.search-field {
  flex-grow: 1;
}
